Repository geo-yuheng/Yuheng: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black, check-requirements

.pre-commit-config.yaml:

repos:
  # local
  - repo: local
    hooks:
    - id: pyright
      name: pyright
      entry: pyright
      language: node
      types: [python]
      pass_filenames: false
      additional_dependencies: ['pyright@1.1.226']
    - id: isort # isort (must run before black or it will broken length of line)
      name: isort
      entry: isort .
      language: system
      types: [python]
    - id: black #black
      name: black
      entry: black * -l 79
      language: system
      types: [python]
    - id: check-requirements
      name: check requirements files
      language: system
      entry: python -m scripts.check_requirements --compare
      files: ^requirements.*.txt$
#  # flake8
#  - repo: https://github.com/PyCQA/flake8
#    rev: 3.9.2
#    hooks:
#      - id: flake8
#  # autoflake
#  - repo: https://github.com/myint/autoflake
#    rev: v1.4
#    hooks:
#      - id: autoflake
#        args: ['--in-place', '--remove-all-unused-imports', '--remove-unused-variable', '--ignore-init-module-imports']
#  # pre-commit-hooks
#  - repo: https://github.com/pre-commit/pre-commit-hooks
#    rev: v3.2.0
#    hooks:
#      - id: check-ast
#      - id: check-byte-order-marker
#      - id: check-case-conflict
#      - id: check-docstring-first
#      - id: check-executables-have-shebangs
#      - id: check-json
#      - id: check-yaml
#      - id: debug-statements
#      # - id: detect-private-key
#      - id: end-of-file-fixer
#      - id: trailing-whitespace
#      - id: mixed-line-ending

feat(waifu.py/meow): add logging module
  requirements.txt
  src/kqs/waifu.py
Due: pyright, isort, black, check-requirements

Release 0.7.1
  pre_build_process.py
  pyproject.toml
  src/kqs/global_const.py
Due: pyright, isort, black

feat: a more powerful prefix unifier transform
  src/kqs/method_parse.py
  src/kqs/method_transform.py
  src/kqs/waifu.py
Due: pyright, isort, black

refactor: change package import path
  README.md
  docs/Guidebook/1.Get_Started.md
  docs/Guidebook/2.Traverse_Data.md
  pre_build_process.py
  src/keqing/global_const.py
  src/keqing/keqing.py
  src/keqing/method_diff.py
  src/keqing/method_getosm.py
  src/keqing/method_getosm.py.LICENSE
  src/keqing/method_getosm.py.METADATA
  src/keqing/method_network.py
  src/keqing/method_parse.py
  src/keqing/method_query.py
  src/keqing/method_stream_read.py
  src/keqing/method_stream_write.py
  src/keqing/method_transform.py
  src/keqing/model_basic.py
  src/keqing/type_constraint.py
  src/keqing/type_data.py
  src/keqing/type_element.py
  src/keqing/waifu.py
  src/kqs/__init__.py
  src/kqs/method_stream_write.py
  tests/test_export.py
  tests/test_iterator.py
  tests/test_load_abbreviation.py
  tests/test_load_file.py
  tests/test_load_network.py
Due: pyright, isort, black

feat: more elegant import method
  src/keqing/__init__.py
  tests/test_iterator.py
Due: pyright, isort, black

refactor: totally change to new import method
  README.md
  docs/Guidebook/1.Get_Started.md
  docs/Guidebook/2.Traverse_Data.md
  tests/test_export.py
  tests/test_load_abbreviation.py
  tests/test_load_file.py
  tests/test_load_network.py
Due: pyright, isort, black

docs: re-write CODE_OF_CONDUCT
  docs/Dev/CODE_OF_CONDUCT.md
  tests/TEST_DATA.md
Due: none

docs: merge testcase description
  tests/README.md
  tests/TEST_DATA.md
  tests/export/README.md
  tests/extract/README.md
Due: none

refactor: eliminate prefix
  docs/Dev/CODE_OF_CONDUCT.md
  pre_build_process.py
  src/keqing/__init__.py
  src/keqing/basic/global_const.py
  src/keqing/basic/model.py
  src/keqing/method/diff.py
  src/keqing/method/getosm.py
  src/keqing/method/getosm.py.LICENSE
  src/keqing/method/getosm.py.METADATA
  src/keqing/method/network.py
  src/keqing/method/parse.py
  src/keqing/method/query.py
  src/keqing/method/stream_read.py
  src/keqing/method/stream_write.py
  src/keqing/method/transform.py
  src/keqing/type/constraint.py
  src/keqing/type/data.py
  src/keqing/type/element.py
Due: pyright, isort, black

feat: nominatim transform
  src/keqing/method/nominatim.py
Due: pyright, isort, black

refactor: abstract a geocode layer and separate out the nominatim layer
  src/keqing/method/nominatim.py
  src/keqing/method/overpass.py
Due: pyright, isort, black

test(failed): 2 kind of non-response scenario of overpass
  tests/failed/nodata.osm
  tests/failed/timeout.osm
Due: none

feat: another mustache syntax need transform
  src/keqing/method/overpass_bbox.py
  src/keqing/method/overpass_geocode.py
Due: pyright, isort, black

test(failed): busy.osm
  tests/failed/busy.osm
Due: none

feat(method\network.py): allow overpass list and more safe
  src/keqing/method/network.py
Due: pyright, isort, black

feat(get_overpass): add OHM official overpass server
  src/keqing/method/network.py
Due: pyright, isort, black

fix(pyproject.toml): out of date packages path
  pyproject.toml
Due: none

fix(pre_build_process.py): add encode lock and modify variable name
  pre_build_process.py
Due: pyright, isort, black

feat(waifu.py): fix log output
  src/kqs/waifu.py
Due: pyright, isort, black

docs(README.md): Add multilingual documents
  README.md
Due: none

fix: remove edit mode in link
  README.md
Due: none

build: fix package missing
  pyproject.toml
Due: none

docs: add version shields
  README.md
Due: none

ci(pyproject.toml): add missing important information in setup.py
  pyproject.toml
Due: none

docs: incase meet with other format files
  src/keqing/__init__.py
Due: pyright, isort, black

ci: change tests method name
  pyproject.toml
  tests/main.py
Due: pyright, isort, black

refactor: extract method
  src/keqing/__init__.py
  src/keqing/method/parse.py
Due: pyright, isort, black

feat: directly run module
  src/keqing/__main__.py
Due: pyright, isort, black

refactor!: extract IO function
  docs/Guidebook/1.Get_Started.md
  docs/Guidebook/2.Traverse_Data.md
  src/keqing/__init__.py
  src/keqing/method/stream_read.py
  src/keqing/method/stream_write.py
  tests/test_load_network.py
Due: pyright, isort, black

revert: remove map-machine code
  src/keqing/method/getosm.py
  src/keqing/method/getosm.py.LICENSE
  src/keqing/method/getosm.py.METADATA
  src/keqing/method/stream_read.py
Due: pyright, isort, black

revert: d12209a75505b22c2a7da70d00d0f19fda9887ab
  docs/Guidebook/1.Get_Started.md
  docs/Guidebook/2.Traverse_Data.md
  src/keqing/__init__.py
  src/keqing/method/stream_read.py
  src/keqing/method/stream_write.py
  tests/test_load_network.py
Due: pyright, isort, black

feat(method_parse.py): new func prototype and testcase
  src/kqs/method_parse.py
Due: pyright, isort, black

feat: add limitation as const
  src/kqs/global_const.py
Due: pyright, isort, black

Release 0.7.2
  src/kqs/global_const.py
Due: pyright, isort, black

feat: limit valid check framework
  src/kqs/model_basic.py
  src/kqs/type_element.py
  src/kqs/waifu.py
Due: pyright, isort, black

refactor: migrant the functions in old style filename
  src/keqing/method/parse.py
  src/kqs/method_parse.py
Due: pyright, isort, black

refactor: differentiate the parse function for different purposes
  README.md
  src/keqing/method/parse_url.py
  src/keqing/method/parse_xml.py
Due: pyright, isort, black

Release 1.0.0
  src/keqing/basic/global_const.py
Due: pyright, isort, black

docs: change roadmap and shield url
  README.md
Due: none

format: isort + black
  src/keqing/__init__.py
  src/keqing/__main__.py
  src/keqing/basic/global_const.py
  src/keqing/method/overpass_bbox.py
  src/keqing/method/parse_url.py
  src/keqing/method/parse_xml.py
  src/keqing/method/stream_read.py
  src/keqing/type/constraint.py
  src/keqing/type/element.py
  tests/test_load_abbreviation.py
  tests/test_load_network.py
Due: pyright, isort, black
